<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <%- include('components/header/index'); %>
    <%- include('components/main-block/index') %>
    <%- include('components/secondary-block/index') %>
    <%- include('components/img-block/index') %>
    <%- include('components/footer/index') %>
  </body>
</html>
